LunarBase.Library/Service References/GameService/GameService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LunarBase.WebData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LunarBase.WebData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PropertyChange">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="PropertyChange" nillable="true" type="tns:PropertyChange" />
  <xs:simpleType name="UsefullTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ForBuilding" />
      <xs:enumeration value="ForProduction" />
      <xs:enumeration value="Production" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UsefullTypes" nillable="true" type="tns:UsefullTypes" />
  <xs:simpleType name="BuildingStatuses">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InProduction" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Damaged" />
      <xs:enumeration value="InQuery" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BuildingStatuses" nillable="true" type="tns:BuildingStatuses" />
</xs:schema>